.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid black;
  font-family: 'Nunito', sans-serif;
}
.header a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.header a:hover{
  background: black;
  color: white;
}
