<app-header></app-header>

<section id="projetos">
    <div class="container-projetos" *ngIf="projects">
        <div class="card-projetos" *ngFor="let proj of projects">
            <div class="proj-head">
                <img src="https://pbs.twimg.com/profile_images/1214937818289623042/ckGYLttc_400x400.jpg" alt="">
            </div>
            <div class="proj-foot">
                <h3>{{ proj.title }}</h3>
                <div *ngIf="proj.stack.length > 0">
                    <p>tecnologias:</p>
                    <ul>
                        <li *ngFor="let tech of proj.stack">{{ tech }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
